VITE_API_URL=https://veltrikabsensi-production.up.railway.app
VITE_VAPID_PUBLIC_KEY=BDXSqA8k8nhumUt-fU0_NxhaE1A6lh_Ki7gujBL5H6MRBGDf7t7JIzeok9AeaHvCwP4gbPy16w_Ahl5ZECtEqPQ
VITE_SCHOOL_NAME="SMK Widya Utama"
VITE_APP_BRAND="Absensi Digital"
